/**
 * Variables & Mixins
 */
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

$border-color: #ccc;

@mixin vh-center() {
	align-items: center;
	display: flex;
	justify-content: center;
	text-align: center;
}

.wrapper {
	margin: 0 auto;
	padding: 0 0 20px;
	width: 100%;
	
	@media ( min-width: 1023px ) {
		max-width: 980px;
	}
	
	* {
		font-family: 'Bowlby One SC', sans-serif;
	}
}

.wp-bingo {
	background: url('../img/paper-texture-2.jpg');
	font-size: 1.5rem;
	
	h1 {
		text-align: center;
		font-size: 3rem;
		font-weight: 400;
	}

	&.layout-simple{
		margin: 0;
		padding:0;
	}

	&__header {
		border: solid $border-color;
		border-width: 0 2px 0 0;
		display: grid;
		grid-template-columns: repeat( 5, 20% );

		> div {
			background: rgba(255,255,255,0.6);
			border: solid $border-color;
			border-width: 2px 0 0 2px;
			min-height: 100px;
			padding: 10px;
			font-size: 4rem;

			@include vh-center;
		}
	}

	&__wrapper {
		border: solid $border-color;
		border-width: 0 2px 2px 0;
		display: grid;
		grid-template-columns: repeat( 5, 20% );
	}

	&__item {
		background-color: #222;
		border: solid $border-color;
		border-width: 2px 0 0 2px;
		color: #fff;
		cursor: pointer;
		min-height: 100px;
		padding: 10px;

		@include vh-center;

		&:hover {
			background-color: $border-color;
		}

		&.active {
			background-color: #c42b2b;
		}

	}
	
	.wcus-share {
		clear: both;
		display: block;
		max-width: 980px;
		margin: 2rem auto;
		font-family: 'Bowlby One SC', sans-serif;
		text-align: center;
	}

	.refresh {
		margin-left: 2rem;
		text-decoration: none;
		color: #222;

		.dashicons-update {
			font-size: 2rem;
			line-height: 1.25;
		}
		
		&:hover {
			color: green;
		}
	}

}

@media ( max-width: 600px ) {
	.wp-bingo {
		font-size: 0.65rem;
	}
}

#confetti {
	left: 0;
	position: absolute;
	top: 0;
}
